
body, html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: #87CEFA;
    color: #fff;
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

p {
    margin: 30px;
}

#listview {
    background: #90EE90;
    margin-top: 100px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    float: left;
    position: relative;
    left: 45%;
}

#listview:active {
    background-color: green;
}

#hello {
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

ul.index, ul.index li {
    padding:0;
    list-style:none;
    width: 100%;
    background: #48D1CC;
    font-size:25px;
}

ul.index li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #2980B9;
}

a.push {
    margin-left: 20px;
}

li img{
    margin-top: 5px;
    float: right;
    opacity: 0.6;
}
